  <section class = "UsersNew">
      <h2 class="NewUsers-title">Log-in!</h2>
      <%= form_with url: sessions_path do |form| %>
        <p class="Form-section">
          <label class="FormInput-label">Email:</label>
          <%= form.email_field :email, class: "Form-input", autofocus: true %>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Password:</label>
          <%= form.password_field :password, class: "Form-input" %>
        </p>
        <p class="Form-section">
          <%= form.submit "Sign-in!", class: "Form-submit" %>
          <%= link_to "Forgot Password?", new_password_reset_path ,class: "Forgot-Password" %>
        </p>
      <% end %>
      <p> Don't have an account? <%= link_to "Register here", new_user_path %> </p>
  </section>
