    <ul>
        <% menus.each do |menu| %>
            <li class="Menus-view">
              <div class="Menus-container" id= "<%= menu.id %>" >
                <%= image_tag(menu.menu_url,class: "Menu-Img")%>
                <div class="Menus-container-align">
                  <% if @current_user.role != "customer" %>
                    <%= form_with(url: "/menus/#{menu.id}" , method: "put") do %>
                      <%= check_box_tag("active",
                          value=nil,
                          checked=menu.active,
                          {onclick: "this.form.submit()",
                          class: "Menus-checkbox"})
                      %>
                    <% end %>
                  <% end %>
                  <p class="Menus-display">
                    <%= link_to "menus/#{menu.id}",class: "Menu-Link" do %>
                      <i class="fa fa-sign-in" aria-hidden="true"></i>
                      <%= menu.name %>
                    <% end %>
                  </p>
                  <% if @current_user.role == "owner" %>
                    <a class="Menu-delete ">
                      <%= form_with(url: "/menus/#{menu.id}" , method: "delete") do %>
                          <%= image_submit_tag("trash.svg") %>
                      <% end %>
                    </a>

                    <%= link_to edit_menu_path(menu.id) do%>
                      <%= image_submit_tag("edit.png",class: "Menu-edit") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
        <% end %>
    </ul>
