<ul class="MenuItems">
   <% menu.menu_items.order(:id).all.each do |menu_item| %>
        <li class="Menus-view">
          <div class="MenuItems-container">
            <div class="MenuItem-image">
              <%=image_tag(menu_item.img_url,class: "MenuItem-Img")%>
              <div class="MenuItem-description">
                <p class="MenuItem-des"><%= menu_item.description %></p>
              </div>
            </div>
            <div class="Menus-DivLabel">
              <% if menu_item.category == "Veg" %>
                <%= image_tag "veg.jpg" ,class: "MenuItem-category" %>
              <% else %>
                <%= image_tag "non-veg.png" ,class: "MenuItem-category" %>
              <% end %>
              <h3 class="Menus-display"><%= menu_item.name %></h3>
            </div>
            <div class="Menus-DivItems">
              <h3>Rs.<%=menu_item.price%></h3>
              <% if @current_user.role == "owner" %>
                <a class="Menu-delete ">
                  <%= form_with(url: "/menu_items/#{menu_item.id}" , method: "delete") do %>
                      <%= image_submit_tag("trash.svg") %>
                    <% end %>
                </a>
              <% end %>
              <% order = @current_user.orders.cart
                 check = order.order_items.exists?(:menu_item_name => menu_item.name)
                 order_item = order.order_items.find_by(menu_item_name: menu_item.name)%>
              <% if check %>
                <div class="Counter">
                  <%= button_to "-", update_order_items_path(id: order_item.id, update: "-",menu_id: menu_item.menu_id), :method => :put,class: "Quantity-Button" %>
                  <h3 class="Quantity"><%= order_item.quantity %></h3>
                  <%= button_to "+", update_order_items_path(id: order_item.id, update: "+",menu_id: menu_item.menu_id), :method => :put %>
                </div>
              <% else %>
                <%= form_with(url: new_order_item_path(menu_item_id: menu_item.id,
                                                      menu_item_name: menu_item.name,
                                                      menu_item_price: menu_item.price,
                                                      menu_id: menu_item.menu_id
                                                      ),
                                method: "post", local: true,class: "Menus") do %>
                  <%= button_tag("Add",type: "submit",class:   "Menus-button") %>
                <% end %>
              <% end %>
              <% if @current_user.role == "owner" %>
                <%= link_to edit_menu_item_path(menu_item.id) do%>
                  <%= image_submit_tag("edit.png",class: "Edit-Icon") %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
   <% end %>
</ul>
