 <div class="Menus-Align">
  <% if @current_user.role == "owner" %>
    <h1 class="Menus-title">Menus</h1>
    <%= form_with(url: "/menus", method: "post", class: "Menus") do %>
      <p class="Menus-label">Add a Menu:</p>
        <%= text_field_tag 'name', '' , placeholder: "Add-Menu", class: 'Menus-name'
        %>
      <%= button_tag("Add-Menu",type: "submit",class: "Menus-button") %>
    <% end %>
  <% end %>
  <% if @current_user.role == "customer" %>
    <%= render partial: "show_menu",locals: {menus: Menu.all.where("active=?",true)} %>
  <% else %>
    <%= render partial: "show_menu",locals: {menus: Menu.all} %>
  <% end %>
</div>
