<% if @current_user.role == "owner" %>
  <h3 class="MenusNew-Label">Add a Menu Item</h3>

  <section class = "UsersNew">
    <div class="MenusNew">
      <%= form_with url: menu_items_path,local:true  do |form| %>
        <div class="Form-section">
          <p class="FormInput-label">Item Name:</p>
          <%= form.text_field :name, class: "Form-input",placeholder: "Enter the menu item",autofocus: "autofocus" %>
        </div>
        <div class="Form-section">
          <p class="FormInput-label">Price:</p>
          <%= form.number_field :price, class: "Form-input"%>
        </div>
        <div class="Form-section">
          <p class="FormInput-label">Image Url:</p>
          <%= form.text_field :img_url, class: "Form-input",placeholder: "Image Url"%>
        </div>
        <div class="Form-section">
          <p class="FormInput-label">Descrption:</p>
          <%= form.text_area :description, class: "Form-input"%>
        </div>
        <div class="Form-section">
          <%= form.submit "Add-Item!", class: "Form-submit"%>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<h3 class="NewUsers-title">Menu Items for <%=menu.name%> </h3>
<%= render partial: "show_menu_items",locals: {menu:menu}%>
