<html>
  <head>
    <h3>Details:</h3>
    <style>
      body{
        display:inline-flex;
      }

      .Cart-Title{
        background-color: rgb(219, 209, 209);
      }

      .Cart-TitleHead{
        border: 1px solid black;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }

      .Invoice-Label{
        float: center;
        margin-right: 20px;
      }

      .Invoice .Invoice-Table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        height: fit-content;
        margin:0 auto;
      }

      .Invoice{
        margin: auto;
        margin-left: 70px;
        margin-top: 50px;
        width: 65%;
        height: 750px;
        padding: 10px;
        display: inline-block;
        border-style: solid;
        border-color: rgb(15, 123, 196);
        background-color: ivory;
      }

      .total-price{
        float: right;
        margin: 20px 20px;
      }

      .Invoice-Date{
        float: right;
      }

      .Invoice-Details{
        margin-left: 60px ;
      }

      .Invoice-Head{
        background-color: skyblue;
        width: fit-content;
      }

      .Logo-icon{
        height: 70px;
        width: 60px;
      }

      .Logo-name{
        height: 70px;
        width: 320px;
        padding-left: 6px;
        padding-right: 30px;
      }
    </style>
  </head>
  <body>
    <div class="Invoice">
      <h1 class="Invoice-Label">Invoice</h1>
      <hr>
      <hr>
      <h3>Order Id: <%= @order.id %></h3>
      <h3 class="Invoice-Date">Order Date: <%= @order.date %></h3>
      <h3 class="Invoice-Head">Bill To:</h3>
      <div class="Invoice-Details">
        <p><%= @user.name %>
        <p><%= @user.address %>
        <p><%= @user.phone_number %>
      </div>
      <h3>Delivered On: <%= @order.delivered_at.strftime('%d %b %Y') %></h3>
      <table class="Invoice-Table">
            <tr class = "Cart-Title">
              <th class="Cart-TitleHead">SNo.</th>
              <th class="Cart-TitleHead">Name</th>
              <th class="Cart-TitleHead">Quantity</th>
              <th class="Cart-TitleHead">Unit Price</th>
              <th class="Cart-TitleHead">Price</th>
            </tr>
            <% serial_no = 1 %>
            <% @order.order_items.each do|order_item| %>
              <% order_item = @order.order_items.find_by(menu_item_name: order_item.menu_item_name)%>
                <tr class="Cart-Title">
                  <td class="Cart-Items"><%= serial_no %></td>
                  <td class="Cart-Items"><%= order_item.menu_item_name %></td>
                  <td class="Cart-Items"><%= order_item.quantity %></td>
                  <td class="Cart-Items"><%= order_item.menu_item_price%></td>
                  <td class="Cart-Items"><%= order_item.menu_item_price*order_item.quantity %></td>
                </tr>
                <% serial_no = serial_no + 1%>
            <% end %>
      </table>
      <h3 class="total-price">Total Price = <%= @order.total_price %> </h3>
   </div>

  </body>
</html>
