<% if @current_user.role == "owner" %>
  <section class = "UsersNew">
    <h3 class="MenusNew-Label">Add a Menu Item</h3>
      <%= form_with url: menu_items_path,local:true  do |form| %>
        <p class="Form-section">
          <label class="FormInput-label">Item Name:</label>
          <%= form.text_field :name, class: "Form-input",placeholder: "Enter the menu item",autofocus: "autofocus" %>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Price:</label>
          <%= form.number_field :price, class: "Form-input"%>
        </p>
        <p class="Form-section">
          <label>Category:</label>
          <%= form.select :category,options_for_select(["Veg","Non-veg"])%>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Image Url:</label>
          <%= form.text_field :img_url, class: "Form-input",placeholder: "Image Url"%>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Descrption:</label>
          <%= form.text_area :description, class: "Form-input"%>
        </p>
        <p class="Form-section">
          <%= form.submit "Add-Item!", class: "Form-submit", data: {disable_with: "Adding item..."} %>
        </p>
      <% end %>
  </section>
<% end %>
