<section class = "UsersNew">
    <%= form_for @menu_item ,{:url => menu_item_path , method: :patch} do |form| %>
        <p class="Form-section">
          <label class="FormInput-label">Item Name:</label>
          <%= form.text_field :name, class: "Form-input",placeholder: "Enter the menu item",autofocus: "autofocus" %>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Price:</label>
          <%= form.number_field :price, class: "Form-input"%>
        </p>
        <p class="Form-section">
          <label>Category:</label>
          <%= form.select :category,options_for_select(["Veg","Non-veg"],@menu_item.category )%>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Image Url:</label>
          <%= form.text_field :img_url, class: "Form-input",placeholder: "Image Url"%>
        </p>
        <p class="Form-section">
          <label class="FormInput-label">Descrption:</label>
          <%= form.text_area :description, class: "Form-input"%>
        </p>
        <p class="Form-section">
          <%= form.submit "Edit-Item!", class: "Form-submit", data: {disable_with: "Updating..."} %>
      </p>
    <% end %>
</section>
