  <section class = "UsersNew">
    <h2 class="NewUsers-title">Sign Up!!</h2>
    <%= form_with url: users_path do |form| %>
      <p class="Form-section">
        <label class="FormInput-label">Name:</label>
        <%= form.text_field :name, class: "Form-input" %>
      </p>
      <p class="Form-section">
        <label class="FormInput-label">Email:</label>
        <%= form.email_field :email, class: "Form-input"%>
      </p>
      <p class="Form-section">
        <label class="FormInput-label">Phone Number:</label>
        <%= form.telephone_field :phone_number, class: "Form-input"%>
      </p>
      <p class="Form-section">
        <label class="FormInput-label">Address:</label>
        <%= form.text_area :address, class: "Form-input"%>
      </p>
      <p class="Form-section">
        <label class="FormInput-label">Password:</label>
        <%= form.password_field :password, class: "Form-input" %>
      </p>
      <p class="Form-section">
        <%= form.submit "Sign-up!", class: "Form-submit"%>
      </p>
    <% end %>
  </section>
