<div class="Invoice">
  <h1 class="Invoice-Label">Invoice</h1>
  <%= image_tag("logo.jpg",class: "Logo-icon") %>
  <%= image_tag("name.png",class: "Logo-name" )%>
  <hr>
  <hr>
  <h3>Order Id: <%=order.id%></h3>
  <h3 class="Invoice-Date">Order Date: <%= order.date %></h3>
  <h3 class="Invoice-Head">Bill To:</h3>
  <% user = User.find(order.user_id)%>
  <% if user.role == "customer" %>
    <div class="Invoice-Details">
      <p><%= user.name %>
      <p><%= user.address %>
      <p><%= user.phone_number %>
    </div>
  <% else %>
    <div class="Invoice-Details">
      <p><%= "Walk-In Customer" %>
      <p><%= "-------" %>
      <p><%= "-------" %>
    </div>
  <% end %>
  <h3>Delivered On: <%=order.delivered_time %></h3>
  <table class="Invoice-Table">
        <tr class = "Invoice-Title">
          <th class="Invoice-TitleHead">SNo.</th>
          <th class="Invoice-TitleHead">Name</th>
          <th class="Invoice-TitleHead">Quantity</th>
          <th class="Invoice-TitleHead">Unit Price</th>
          <th class="Invoice-TitleHead">Price</th>
        </tr>
        <% serial_no = 1 %>
        <% order.order_items.each do|order_item| %>
          <% order_item = order.find_order_items(order_item) %>
            <tr class="Invoice-Title">
              <td class="Invoice-Items"><%= serial_no %></td>
              <td class="Invoice-Items"><%= order_item.menu_item_name %></td>
              <td class="Invoice-Items"><%= order_item.quantity %></td>
              <td class="Invoice-Items"><%= order_item.menu_item_price%></td>
              <td class="Invoice-Items"><%= order_item.menu_item_price*order_item.quantity %></td>
            </tr>
            <% serial_no = serial_no + 1%>
        <% end %>
    </table>
    <h3 class="total-price">Total Price = <%= order.total_price %> </h3>
</div>
