<div class="Reports-Form">
  <h2>Reports</h2>
  <%= form_with url:reports_path,method: "get" , local: "true" do %>
    <h3>Start Date: <%= date_field_tag "start_date",nil ,class: "Report-input" %>
    <h3>End Date:  <%= date_field_tag "end_date",nil, class: "Report-input" %>
    <h3> Customer ID: <%= number_field_tag "customer_id" , nil , { min: 0, class: "Report-input"} %>
    <%= submit_tag "Search Orders",class: "Report-submit" %></h3>
  <% end %>
</div>
<% if orders %>
  <div class="Reports-Form">
    <h3>Start Date: <%= start_date %></h3>
    <h3>End Date: <%= end_date %></h3>
  </div>
  <div>
    <table class="Reports-Table">
          <tr class = "Report-Title">
            <th class="Report-TitleHead">Customer Id</th>
            <th class="Report-TitleHead">Customer Name</th>
            <th class="Report-TitleHead">Delivered Date</th>
            <th class="Report-TitleHead">Total Price</th>
            <th class="Report-TitleHead">Invoice</th>
          </tr>
          <% orders.each do|order| %>
              <% user = User.find(order.user_id)%>
              <tr class="Report-Title">
                <td class="Report-Items"><%= order.user_id %></td>
                <% if user.role == "customer" %>
                  <td class="Report-Items"><%= user.name %></td>
                <% else %>
                  <td class="Report-Items">Walk-In(By <%= user.name%>) </td>
                <% end %>
                <td class="Report-Items"><%= order.delivered_at.strftime('%d %b %Y') %></td>
                <td class="Report-Items"><%= order.total_price%></td>
                <td class="Report-Items"> <%= link_to "Invoice" , invoice_path(id: order.id)%></td>
              </tr>
          <% end %>
    </table>
  </div>
<% end %>
