<div class="Reports-Form">
  <h2>Reports</h2>
  <%= form_with url:reports_path,method: "get" , local: "true" do %>
    <h3>Start Date: <%= date_field_tag "start_date" ,class: "Form-input" %>
    <h3>End Date:  <%= date_field_tag "end_date", class: "Form-input" %>
    <h3> Customer ID: <%= number_field_tag "customer_id" , nil , { min: 0, class: "Form-input"} %>
    <%= submit_tag "Search Orders",class: "Form-submit" %>
  <% end %>
</div>
<% if orders %>
  <div class="Reports-Form">
    <h3>Start Date: <%= start_date %></h3>
    <h3>End Date: <%= end_date %></h3>
  </div>
  <div>
    <table class="Reports-Table">
          <tr class = "Cart-Title">
            <th class="Cart-TitleHead">Customer Id</th>
            <th class="Cart-TitleHead">Customer Name</th>
            <th class="Cart-TitleHead">Delivered Date</th>
            <th class="Cart-TitleHead">Total Price</th>
            <th class="Cart-TitleHead">Invoice</th>
          </tr>
          <% orders.each do|order| %>
              <tr class="Cart-Title">
                <td class="Cart-Items"><%= order.user_id %></td>
                <td class="Cart-Items"><%= User.find(order.user_id).name %></td>
                <td class="Cart-Items"><%= order.delivered_at.strftime('%d %b %Y') %></td>
                <td class="Cart-Items"><%= order.total_price%></td>
                <td class="Cart-Items"> <%= link_to "Invoice" , invoice_path(id: order.id)%></td>
              </tr>
          <% end %>
    </table>
  </div>
<% end %>
