<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <% if @current_user.role == "owner" %>
        <div class="Navigation-Div">
          <nav class="Navigation">
                <%= image_tag("logo.jpg",class: "Logo-icon") %>
                <%= image_tag("name.png",class: "Logo-name" )%>
                <input class="Navigation-Menu" id="Navigation-Menu" type="checkbox">
                  <label class="Toggle-Button" for="Navigation-Menu">
                    <span class="Navigation-Bar"></span>
                    <span class="Navigation-Bar"></span>
                    <span class="Navigation-Bar"></span>
                  </label>
              <div class="Navigation-Right">
                <ul class="Navigation-Display">
                  <li><%= link_to "Walk-In", cart_path%>
                  <li><%= link_to "Orders", orders_path%>
                  <li><%= link_to "Menus", menus_path%>
                  <li><%= link_to "Users", users_path%>
                  <li><%= link_to "Reports", reports_path %>
                  <li><%= link_to "Sign-out", destroy_session_path,method: "delete" %>
                </ul>
              </div>
          </nav>
        </div>
      <% elsif @current_user.role == "clerk" %>
        <div class="Navigation">
          <%= link_to "Home", new_menu_items_home_path%>
          <%= link_to "Orders", orders_path%>
          <%= link_to "Menus", menus_path%>
        </div>
        <%= link_to "Sign-out", destroy_session_path,method: "delete" %>
      <% else %>
         <div class="Navigation">
          <div class="Navigation-Left">
            <%= image_tag("logo.jpg",class: "Logo-icon") %>
            <%= image_tag("name.png",class: "Logo-name" )%>
            <%= link_to "Home", new_menu_items_home_path%>
            <%= link_to "Menus", menus_path%>
          </div>
          <div class="Navigation-Right">
            <%= link_to "My Orders", orders_path%>
            <%= link_to "Cart", cart_path%>
            <%= link_to "Sign-out", destroy_session_path,method: "delete" %>
          </div>
         </div>
      <% end %>
    <% end %>
    <% if flash[:error] %>
      <p class="Flash-error"> <%= flash[:error] %> </p>
    <% end %>
    <% if flash[:success] %>
      <p class="Flash-success"> <%= flash[:success] %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
