<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

  <body>
    <% if @current_user %>
          <header class="Navigation">
                <%= image_tag("logo.jpg",class: "Logo-icon") %>
                <%= image_tag("name.png",class: "Logo-name" )%>
              <div class="Navigation-right">
                <label for="Toggle">
                  <i class="fa fa-bars Menu-Toggle" id='Menu-Toggle'></i>
                </label>
                <input type="checkbox" class="Toggle" id="Toggle" >
                <ul class="Navigation-Display" id='Nav-ul'>
                  <% if @current_user.role == "owner" %>
                      <li>
                        <%= link_to sessions_home_path do%>
                          <i class="fa fa-home Icons-Align"></i>
                          Home
                        <%end%>
                      </li>
                      <li>
                        <%= link_to cart_path do%>
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          Walk In
                        <% end %>
                      </li>
                      <li>
                        <%= link_to menus_path do%>
                          <i class="fa fa-cutlery" aria-hidden="true"></i>
                          Menus
                        <% end %>
                      </li>
                      <li>
                          <a>
                            <i class="fa fa-user"></i>
                            <%=@current_user.name%>
                            <i class="fa fa-chevron-down"></i>
                          </a>
                          <ul class="Navigation-Dropdown" id='Nav-ul'>
                            <li><%= link_to orders_path do %>
                                  <i class="fa fa-truck" aria-hidden="true"></i>
                                  Pending Orders
                                <% end %>
                            </li>
                            <li><%= link_to all_orders_path do %>
                                  <i class="fa fa-list-alt"></i>
                                  All Orders
                                <% end %>
                            </li>
                            <li>
                              <%= link_to users_path do%>
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Users
                              <% end %>
                            </li>
                            <li>
                              <%= link_to reports_path do %>
                                <i class="fa fa-table" aria-hidden="true"></i>
                                Reports
                              <% end %>
                            </li>
                            <li>
                                <%= link_to destroy_session_path,method: "delete" do %>
                                  <i class="fa fa-sign-out"></i>
                                  Sign-Out
                                <% end %>
                            </li>
                          </ul>
                      </li>
                  <% elsif @current_user.role == "clerk" %>
                      <li>
                        <%= link_to sessions_home_path do%>
                          <i class="fa fa-home Icons-Align"></i>
                          Home
                        <%end%>
                      </li>
                      <li>
                        <%= link_to cart_path do%>
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          Walk In
                        <% end %>
                      </li>
                      <li><%= link_to  menus_path do %>
                            <i class="fa fa-cutlery"></i>
                            Menus
                          <% end %>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-user"></i>
                          <%=@current_user.name%>
                          <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="Navigation-Dropdown">
                            <li><%= link_to all_orders_path do %>
                                  <i class="fa fa-list-alt"></i>
                                  All Orders
                                <% end %>
                            </li>
                            <li><%= link_to orders_path do%>
                                  <i class="fa fa-truck" aria-hidden="true"></i>
                                  Pending Orders
                                <% end %>
                            </li>
                            <li>
                              <%= link_to edit_user_path(@current_user.id) do%>
                                <i class="fa fa-edit"></i>
                                Edit Profile
                              <% end %>
                            </li>
                            <li>
                                <%= link_to destroy_session_path,method: "delete" do %>
                                  <i class="fa fa-sign-out"></i>
                                  Sign-Out
                                <% end %>
                            </li>
                        </ul>
                      </li>
                  <% else %>
                      <li>
                        <%= link_to sessions_home_path do%>
                          <i class="fa fa-home Icons-Align"></i>
                          Home
                        <%end%>
                      </li>
                      <li>
                          <%= link_to  menus_path do %>
                            <i class="fa fa-cutlery"></i>
                            Menus
                          <% end %>
                      </li>
                      <li>
                        <%= link_to cart_path do%>
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          Cart
                        <% end %>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-user"></i>
                          <%=@current_user.name%>
                          <i class="fa fa-chevron-down"></i>
                        </a>
                          <ul class="Navigation-Dropdown">
                            <li>
                              <%= link_to orders_path do %>
                                <i class="fa fa-list-alt"></i>
                                My Orders
                              <% end %>
                            </li>
                            <li>
                              <%= link_to edit_user_path(@current_user.id) do%>
                                <i class="fa fa-edit"></i>
                                Edit Profile
                              <% end %>
                            </li>
                            <li>
                                <%= link_to destroy_session_path,method: "delete" do %>
                                  <i class="fa fa-sign-out"></i>
                                  Sign-Out
                                <% end %>
                            </li>
                          </ul>
                  <% end %>
                </ul>
              </div>
          </header>
    <% end %>
    <% if flash[:error] %>
      <p class="Flash-error"> <%= flash[:error] %> </p>
    <% end %>
    <% if flash[:success] %>
      <p class="Flash-success"> <%= flash[:success] %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
